name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 11

      - run: |
          cd lib
          mvn install:install-file -Dfile="FabledSkyblock.jar" -DgroupId=xxx -DartifactId=xxx -Dversion=xxx -Dpackaging=jar -DgeneratePom=true
          cd ..
          mvn clean install

      - uses: codecov/codecov-action@v1.0.14

      - uses: actions/upload-artifact@v2.2.2
        with:
          name: InfumiaPlugin
          path: target/InfumiaPlugin.jar
